/*
Colors used
background-color #fafafa
looking for new colors later
*/
:root {
    --primary-color-bg: #15c6e5;
    --secondary-color: #F34F2A;
    --tertiary-color: #F3A8C7;
    --dark-grey: #2b2b2b;
    --font-family: 'Merriweather';
    --a-unvisted: #006970;
    --a-visited: #007c84;
  }
  
  /* a {
    color: var(--a-unvisted);
  }
  
  a:visited {
    color: var(--a-visited);
  }
  
  * {
    box-sizing: border-box;
  } */
  
  /* Body and Headings */
  
  body {
    background-color: var(--primary-color-bg);
    font-family: var(--font-family);
    font-weight: 400;
    line-height: 1.6;
    padding: 10px;
    margin: 10px;
    border: 1px;
  }
  
  .required-field::after {
    content: "*";
    color: red;
  }
  
  h1 {
    font-size: 22px;
    font-weight: 700px;
    display: inline-flex;
  }
  
  h2 {
    font-size: 24px;
    font-weight: 700px;
  }
  
  p {
    font-size: 18px;
    font-weight: 700px;
  }
  
  .button-class {
    background-color: var(--tertiary-color);
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  color: black;
  border: 2px solid #af4c7a;
}

#modal-container.is-visible {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--primary-color-bg);
  z-index: 999;
  overflow: auto;
  display: grid;
  text-align: center;
}

.modal {
  margin:auto;
  display: inline-block;
  box-sizing: border-box;
  background: var(--tertiary-color);
  padding: 15px;
  width: 100%;
  max-width: 700px;
  text-align:center;
}